.contactHeader {
  background: var(--red-color);
  width: min(600px, 95%);
}
.formSection {
  display: block;
  width: min(600px, 95%);
  padding: 3rem;
  margin: 2rem auto;
  background: var(--light-purple-color);
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: var(--shadow-);
}

.formSection p {
  font-family: "roboto";
  font-size: 18px;
  color: black;
  margin-bottom: 7px;
}

.formSection .formTitle {
  color: white;
  font-size: 21px;
  margin-bottom: 1.3rem;
  font-family: "Press Start 2P", cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.formSection .heart {
  color: var(--red-color);
  font-family: "roboto";
  font-size: 30px;
  font-weight: bold;
}

form,
form label {
  width: 100%;
  cursor: url(../img/heart-cursor.png), auto;
}

.formSection .emailInput,
.formSection .messageInput {
  font-family: "roboto";
  font-size: 15px;
  color: black;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.7rem 0.4rem;
  box-shadow: 2px 2px 20px rgb(0, 0, 0, 0.1);
}

.formSection .messageInput {
  height: 100px;
  resize: none;
}

.sendBtn {
  background: var(--red-color);
  font-family: "Press Start 2P", cursive;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  max-width: 100px;
  color: black;
  text-decoration: none;
  transition: var(--transition);
  box-shadow: 2px 2px 30px rgb(0, 0, 0, 0.15);
}

.sendBtn:hover {
  color: black;
  background: var(--light-purple-color);
  cursor: url(../img/heart-pointer.png), auto;
}

.error {
  font-size: 15px;
  font-style: italic;
  font-family: "roboto";
  margin-bottom: 10px;
}

.contactInfoSection {
  width: min(1000px, 100%);
  padding: 3rem;
  margin: 2rem auto;
  margin-bottom: 70px;
  background: var(--light-purple-color);
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: var(--shadow-);
}

.contactInfoSection .col-lg-4 {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.contactInfoSection i {
  font-size: 70px;
}

.contactInfoSection .mediaName {
  color: var(--red-color);
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 5px;
  font-family: "Press Start 2P", cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.contactInfoSection a {
  font-family: "roboto";
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.contactInfoSection a:hover {
  text-decoration: underline;
}

/*media queries */

@media (max-width: 1000px) {
  .contactInfoSection {
    padding: 2rem;
  }
  .contactInfoSection i {
    font-size: 55px;
  }
  .contactInfoSection .mediaName {
    font-size: 17px;
  }
  .formSection .formTitle {
    font-size: 19px;
  }
}

@media (max-width: 990px) {
  .contactInfoSection {
    width: min(600px, 95%);
  }
}

@media (max-width: 600px) {
  .formSection .formTitle {
    font-size: 17px;
  }
  .formSection {
    padding: 2.2rem;
  }
  .formSection p {
    font-size: 15px;
  }
}

@media (max-width: 475px) {
  .formSection .formTitle {
    font-size: 16px;
  }
  .formSection {
    padding: 2rem;
  }
}
