:root {
  --pink-color: #fd90e0;
  --light-blue-color: #99ecfe;
  --light-green-color: #c5feca;
  --yellow-color: #fef5ae;
  --orange-color: #f3caa5;
  --red-color: #e26c60;
  --light-purple-color: #dec0fe;
  --shadow-: 2px 2px 25px rgb(0, 0, 0, 0.2);
  --transition: all 150ms ease-in;
}

body {
  background: url(/img/background.jpg) fixed;
  background-size: 300px;
  margin: 0;
}

.projectsPage .container {
  padding: 0 30px;
}

header {
  background: var(--pink-color);
  padding: 15px 0;
  max-width: 800px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 2px solid black;
  box-shadow: var(--shadow-);
}

header h1 {
  text-align: center;
  color: white;
  font-size: 55px;
  margin-top: 5px;
  font-family: "Press Start 2P", cursive;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

header h3 {
  text-align: center;
  color: black;
  font-size: 17px;
  font-family: "Press Start 2P", cursive;
  letter-spacing: 2px;
  margin-top: 30px;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  max-width: 850px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.btn {
  background: var(--light-blue-color);
  width: 180px;
  padding: 15px 0;
  border-radius: 30px;
  border: 2px solid black;
  margin-top: 30px;
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
  color: black;
  text-decoration: none;
  transition: var(--transition);
  box-shadow: var(--shadow-);
}

.btn:hover {
  background: var(--light-green-color);
}

.designsHeader {
  background: var(--light-green-color);
  max-width: 600px;
}
.designsHeader,
.projectsHeader {
  padding: 15px 0;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 10px;
  border-radius: 30px;
  border: 2px solid black;
  box-shadow: var(--shadow-);
}

.projectsHeader {
  background: var(--light-purple-color);
  max-width: 650px;
}

.designsHeader h1,
.projectsHeader h1 {
  text-align: center;
  color: white;
  font-size: 45px;
  margin-top: 5px;
  font-family: "Press Start 2P", cursive;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.designsHeader h3,
.projectsHeader h3 {
  text-align: center;
  color: black;
  font-size: 13px;
  font-family: "Press Start 2P", cursive;
  letter-spacing: 2px;
  margin-top: 30px;
}

.designsImgs,
.projectsImgs {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 100px;
}

.designsImgs .row,
.projectsHeader .row {
  margin: 0 30px;
}

.designsImgs .col-md-6,
.projectsImgs .col-md-6 {
  max-width: 500px;
  margin: 20px auto;
}

.designsImgs img,
.projectsImgs img {
  background: black;
  padding: 2px;
  border-radius: 5px;
  box-shadow: var(--shadow-);
}

.project {
  margin: 15px 0 30px 0;
  background-color: var(--light-purple-color);
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: var(--shadow-);
}
.projectName {
  text-align: center;
  font-size: 16px;
  color: var(--light-blue-color);
  margin: 10px 21px;
  font-family: "Press Start 2P", cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.projectDescription {
  font-family: roboto;
  margin: 0 25px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.launchApp,
.github {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  margin: 15px 6px;
  font-family: roboto;
  color: black;
  text-decoration: none;
  background: var(--pink-color);
  max-width: 145px;
  padding: 10px;
  border: 2px solid var(--light-blue-color);
  border-radius: 5px;
  box-shadow: 2px 2px 30px rgb(0, 0, 0, 0.1);
  transition: var(--transition);
}

.projectsLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.launchApp:hover,
.github:hover {
  color: black;
  background-color: var(--light-green-color);
}

footer {
  font-size: 8px;
  color: black;
  text-align: center;
  background: var(--pink-color);
  padding-bottom: 7px;
  padding-top: 7px;
  font-family: "Press Start 2P", cursive;
  box-shadow: -2px -2px 30px rgb(0, 0, 0, 0.15);
}

.codeLink {
  color: black;
}

.codeLink:hover {
  color: white;
}

.navbar-pink {
  background: var(--pink-color);
  box-shadow: 2px 2px 30px rgb(0, 0, 0, 0.15);
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-brand {
  color: white !important;
  font-size: 18px;
  font-family: "Press Start 2P", cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.nav-link {
  font-family: "Press Start 2P", cursive;
  color: black;
  font-size: 11px;
}

@media (max-width: 320px) {
  header {
    margin-top: 60px;
    max-width: 310px;
    margin-bottom: 0;
  }
  header h1 {
    font-size: 22px;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  header h3 {
    margin-top: 10px;
    font-size: 8px;
    line-height: 13px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .btns {
    max-width: 200px;
  }
  .btn {
    font-size: 11px;
    width: 125px;
  }
  .navbar-brand {
    font-size: 13px;
  }
  .designsHeader,
  .projectsHeader {
    max-width: 270px;
    margin-top: 110px;
  }
  .designsHeader h1,
  .projectsHeader h1 {
    font-size: 23px;
  }
  .designsHeader h3,
  .projectsHeader h3 {
    font-size: 8px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 20px;
  }
  .designsImgs,
  .projectsImgs {
    margin-top: 40px;
  }

  .projectName {
    font-size: 14px;
  }

  .projectDescription {
    font-size: 15px;
  }

  footer {
    font-size: 5px;
  }
}

@media (min-width: 320px) and (max-width: 380px) {
  header {
    margin-top: 60px;
    max-width: 310px;
    margin-bottom: 0;
  }
  header h1 {
    font-size: 22px;
    line-height: 30px;
  }

  header h3 {
    margin-top: 10px;
    font-size: 8px;
    line-height: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .btns {
    max-width: 200px;
  }
  .btn {
    font-size: 11px;
    width: 125px;
  }
  .navbar-brand {
    font-size: 15px;
  }
  .designsHeader,
  .projectsHeader {
    max-width: 300px;
    margin-top: 110px;
  }
  .designsHeader h1,
  .projectsHeader h1 {
    font-size: 26px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .designsHeader h3,
  .projectsHeader h3 {
    font-size: 8px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 20px;
  }
  .designsImgs,
  .projectsImgs {
    margin-top: 40px;
  }
  footer {
    font-size: 5px;
  }
}

@media (min-width: 380px) and (max-width: 480px) {
  header {
    margin-top: 70px;
    max-width: 340px;
    margin-bottom: 10px;
  }
  header h1 {
    font-size: 22px;
  }

  header h3 {
    margin-top: 15px;
    font-size: 9px;
  }
  .btns {
    max-width: 340px;
  }
  .btn {
    font-size: 13px;
    width: 145px;
  }
  .navbar-brand {
    font-size: 15px;
  }
  .designsHeader,
  .projectsHeader {
    max-width: 345px;
    margin-top: 110px;
  }
  .designsHeader h1,
  .projectsHeader h1 {
    font-size: 30px;
  }
  .designsHeader h3,
  .projectsHeader h3 {
    font-size: 9px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 20px;
  }
  .designsImgs,
  .projectsImgs {
    margin-top: 40px;
  }
  footer {
    font-size: 6px;
  }
}

@media (min-width: 480px) and (max-width: 600px) {
  header {
    max-width: 440px;
    margin-top: 100px;
    margin-bottom: 10px;
  }
  header h1 {
    font-size: 26px;
  }

  header h3 {
    margin-top: 15px;
    font-size: 10px;
  }
  .btns {
    max-width: 440px;
  }
  .btn {
    font-size: 17px;
    width: 180px;
  }
  .navbar-brand {
    font-size: 15px;
  }
  .designsHeader,
  .projectsHeader {
    max-width: 420px;
    margin-top: 110px;
  }
  .designsHeader h1,
  .projectsHeader h1 {
    font-size: 34px;
  }
  .designsHeader h3,
  .projectsHeader h3 {
    font-size: 10px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 20px;
  }
  .designsImgs,
  .projectsImgs {
    margin-top: 40px;
  }
  footer {
    font-size: 7px;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  header {
    max-width: 530px;
    margin-top: 110px;
  }
  header h1 {
    font-size: 33px;
  }

  header h3 {
    margin-top: 20px;
    font-size: 12px;
  }
  .btns {
    max-width: 530px;
  }
  .btn {
    font-size: 17px;
  }
  .navbar-brand {
    font-size: 15px;
  }
  .designsHeader,
  .projectsHeader {
    max-width: 500px;
  }
  .designsHeader h1,
  .projectsHeader h1 {
    font-size: 37px;
  }
  .designsHeader h3,
  .projectsHeader h3 {
    font-size: 11px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 20px;
  }
  .designsImgs,
  .projectsImgs {
    margin-top: 40px;
  }
}
